<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="c:\temp\nlog.txt" internalLogLevel="Debug">
    <targets>
      <target name="logfile" xsi:type="File" fileName="C:\temp\LPI.Updater-Log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${callsite}|${message}|${exception:format=tostring}" />
      <target xsi:type="Mail" name="MailTarget" html="true" subject="Error from LPI Updater" body="${message}" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${callsite}" to="pwensel@hotmail.com" from="postmaster@ppgservices.net" smtpAuthentication="Basic" smtpServer="mail5006.smarterasp.net" smtpUserName="postmaster@ppgservices.net" smtpPassword="Lena1995" enableSsl="False"/>
    </targets>
    <rules>
      <logger name="*" writeTo="logfile" />
      <logger name="*" level="Error" writeTo="MailTarget" />
      <logger name="*" level="Fatal" writeTo="MailTarget" />
    </rules>
  </nlog> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="LPIContext" connectionString="metadata=res://*/Data.LPIModel.csdl|res://*/Data.LPIModel.ssdl|res://*/Data.LPIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5018.Smarterasp.net;initial catalog=DB_9D8937_LPI;persist security info=True;user id=DB_9D8937_LPI_admin;password=Lena1995;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- API -->
    <add key="DentalAPIBaseAddress" value="http://localhost:55123/" />
    <add key="DentalAPIKey" value="LPI|781c90de-5181-4690-b233-b117c2e45e09" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>