<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LPIContext" connectionString="metadata=res://*/Data.LPIModel.csdl|res://*/Data.LPIModel.ssdl|res://*/Data.LPIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PWDELLLAPTOP\SQLEXPRESS;Initial Catalog=LPI;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>